/*
* COLOR VARIABLES
*/

$color_vivid_blue           :     #077AFB; //  #04a0ff
$color_strong_blue          :     #0062cc;
$color_blue                 :     #007bff; // #0069d9
$color_gray                 :     #b4b4b4;
$color_dark_gray            :     #848484;
$color_light_gray           :     #f2f2f2;
$color_very_light_gray      :     #f7f7f7;
$color_light_gray_blue      :     #ced4db;
$color_lime_green           :     #49c856;
$color_vivid_yellow         :     #f8d001;
$color_vivid_orange         :     #ff9001;
$color_red                  :     #ff1c00;
