/*
* COLOR VARIABLES
*/

$color_vivid_blue           :     #077AFB;
$color_blue                 :     #00a7ff;
$color_gray                 :     #848484;
$color_light_gray           :     #f2f2f2;
$color_very_light_gray      :     #f7f7f7;
$color_light_gray_blue      :     #ced4db;
