{% extends 'base.html' %}
{% block content %}
  <div class="login login-form">
    <div class="container">
      <h3 class="heading heading__subtitle">Log in</h3>
      <p class="heading heading__description"> Login to access the Momkhulu Triage Board.</p>
      <form method="post">
      {% csrf_token %}
        <fieldset class="form-group">
          <label for="id_username" class="form-label">E-mail</label>
          <input type="text" id="id_username" name="username" placeholder="Enter your e-mail address" required autofocus>
        </fieldset>
        <fieldset class="form-group">
          <label for="id_password" class="form-label">Password</label>
          <label class="form-label form-label">
            <span toggle="#id_password" class="form-label"></span>
            <input type="checkbox" onclick="showPassword()">Show Password
          </label>
          <input type="password" name="password" id="id_password" placeholder="Enter your password" required value="secret">
          <small id="password-caps-warning" class="form-text text-danger d-none">
            Warning: Caps lock enabled
          </small>
        </fieldset>
        <button type="submit" class="call-to-action__button  call-to-action__button--primary">Log in</button>
      </form>
      <div class="terms-of-use">
        <p>Forgot your password? <a href="/accounts/password_reset/"> Reset it.</a></p>
        <h3 class="heading heading__subtitle">Terms of Use</h3>
        <p>By logging in, if you agree to the following:
          You are responsible for maintaining the confidentiality of your
          account login information and are fully responsible for all activities
          that occur under your account.</p>
        <p>You are responsible for keeping patient information confidential and not sharing it
          outside if this dashboard. You agree to ensure that the device used to
            access your account and patient information is
            password protected.</p>
      </div>
    </div>
  </div>
  {% block extra_js %}
    <script type="text/javascript">
      function showPassword() {
        var x = document.getElementById("id_password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      (function() {
        const passwordField = document.getElementById("id_password");
        const errorField = document.getElementById("password-caps-warning");

        passwordField.onkeydown = function(e) {
          if (e.getModifierState("CapsLock")) {
            errorField.classList.remove("d-none");
          } else {
            errorField.classList.add("d-none");
          }
        }
      }());
    </script>
  {% endblock %}
  {% endblock %}
