{% extends 'base.html' %}
{% block content %}
  <main class="login-form">
    <div class="container">
      <div class="row justify-content-center">
        <form method="post" class="login-form__container">
          {% csrf_token %}
          <div class="form-group">
            <h3 class="heading heading__subtitle">Log in</h3>
            <p class="light text-center"> Login to access the Momkhulu Triage Board.</p>
            <label for="id_username" class="col-md-4 col-form-label text-md-right size">E-mail</label>
            <div class="text-md-right"></div>
            <input type="text" id="id_username" name="username" class="form-control col-md-6 offset-md-3"
              placeholder="Enter your e-mail address" required autofocus>
            <div>
              <label for="id_password" class="col-md-5 col-form-label text-md-right size">Password</label>
              <span toggle="#id_password" class="fa fa-fw fa-eye field-icon toggle-password offset-md-3"></span>
              <input type="checkbox" onclick="showPassword()">Show Password

              <div class="text-md-right">
                <input type="password" name="password" id="id_password" class="form-control col-md-6 offset-md-3"
                  placeholder="Enter your password" required value="secret">
                <small id="password-caps-warning" class="form-text text-danger d-none">Warning: Caps lock
                  enabled</small>
              </div>
            </div>

            <div class="offset-md-3">
              <button type="submit" class="btn btn-primary">Log in</button>

              <div class="light a col-md-7">
                <p>Forgot your password? <a href="/accounts/password_reset/"> Reset it.</a></p>
                <hr class="line">
                <p style="font-weight: bold">Terms of Use</p>
                <p style="text-align: left">By logging in, if you agree to the following:</p>
                <p style="text-align: left">You are responsible for maintaining the
                    confidentiality of your account login information
                    and are fully responsible for all activities that
                    occur under your account.</p>
                <p style="text-align: left">You are responsible for keeping patient
                    information confidential and not sharing it
                    outside if this dashboard.</p>
                <p style="text-align: left">You agree to ensure that the device used to
                    access your account and patient information is
                    password protected.</p>
              </div>
            </div>
          </div>
        </form>
    </div>
  </main>
  {% block extra_js %}
    <script type="text/javascript">
      function showPassword() {
        var x = document.getElementById("id_password");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
      (function() {
        const passwordField = document.getElementById("id_password");
        const errorField = document.getElementById("password-caps-warning");

        passwordField.onkeydown = function(e) {
          if (e.getModifierState("CapsLock")) {
            errorField.classList.remove("d-none");
          } else {
            errorField.classList.add("d-none");
          }
        }
      }());
    </script>
  {% endblock %}
  {% endblock %}
