{% extends 'base.html' %}
{% block content %}
  <main class="login-form">
    <div class="cotainer">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <p class="thick text-md-center">Log in</p>
              <p class="light text-center"> Login to access the Momkhulu Triage Board.</p>
              <label for="id_username" class="col-md-4 col-form-label text-md-right size">E-mail</label>
              <div class="text-md-right"></div>
              <input type="text" id="id_username" name="username" class="form-control col-md-6 offset-md-3"
                placeholder="Enter your e-mail address" required autofocus>
              <div>
                <label for="id_password" class="col-md-5 col-form-label text-md-right size">Password</label>
                <span toggle="#id_password" class="fa fa-fw fa-eye field-icon toggle-password offset-md-3"></span>
                <a class="maincolour" href="#"> Show</a>

                <div class="text-md-right">
                  <input type="password" name="password" id="id_password" class="form-control col-md-6 offset-md-3"
                    placeholder="Enter your password" required value="secret">
                  <small id="password-caps-warning" class="form-text text-danger d-none">Warning: Caps lock
                    enabled</small>
                </div>
              </div>

              <div class="offset-md-3">
                <button type="submit" class="btn btn-primary">Log in</button>

                <div class="light a col-md-7">
                  <p>By logging in, you agree to our <a href="#"> Terms and Conditions</a></p>
                  <p>Forgot your password? <a href="/accounts/password_reset/"> Reset it.</a></p>
                  <hr class="line">
                  <p>Need a Momkhuku account?</p>
                  <p>Contact: <a href="mailto:info@momkhulu.com?Subject=Need%20An%20Account" target="_top">
                      info@momkhulu.com</a></p>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </main>
  {% endblock %}