{% extends 'base.html' %}
{% block title %}Forgot Your Password?{% endblock %}
{% block content %}
  <div class="login">
    <div class="container">
      <h2 class="heading heading__hero">Forgot your password?</h2>
      {% if validlink %}
        <p class="heading__description">Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="POST" novalidate>
        {% csrf_token %}
            <fieldset class="form-group">
            {{ form.as_p }}
            </fieldset>
            <input type="submit" value="Change my password">
        </form>
      {% else %}
        The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

      {% endif %}
    </div>
  </div>
{% endblock %}