{% extends 'base.html' %}
{% block title %}Forgot Your Password?{% endblock %}
{% block content %}
  <div class="login">
    <div class="container">
      <h2 class="heading heading__hero">Forgot your password?</h2>
      <p class="heading__description">Please enter a password for your Momkhulu account.
        Once confirmed, you’ll be asked to log in with your mobile number and your new password.</p>
      <form method="POST" novalidate>
      {% csrf_token %}
        <fieldset class="form-group">
          {{ form.as_p }}
        </fieldset>
        <input type="submit" value="Send me instructions!">
      </form>
    </div>
  </div>
{% endblock %}
