@import "utils/*";

html,body {
  height: auto;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  color: $color_gray;
  font-size: 16px;
  font-family: $openSansFamily;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.5;
  overflow: auto;
  position: relative;
  width: 100%;
}

h1, h2, h3, h4, h5, h6,p  {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  &:hover, &:focus, &:active, &:visited {
    outline: none;
  }
}

/*
  MEDIA QIERIES
  @media screen and (min-width: 20.000em){}
*/


@import "layout/*";
@import "modules/*";
