.call-to-action {
  &--logout {
    float: right;
    display: inline-block;
  }
  &__description {
    color: $color_gray;
    margin: 1em 0;
    text-align: center;
  }
  &__button {
    &--primary {
      background-color: $color_vivid_blue;
      border: 1px solid $color_vivid_blue;
      border-radius: 5px;
      color: #fff;
      padding: 15px 1em;
      width: 100%;
      &:hover, &:active, &:focus {
        background-color: $color_blue;
        border: 1px solid $color_blue;
        transition: background-color 100ms ease-in-out;
      }
    }
  }
  &__nav {
    &--text {
      //BUTTONS / INPUT[SUBMIT] RESETS
      background: none;
      border: none;
      cursor: pointer;
      display: inline-block;
      padding: 5px;
      width: auto;

      color: #0069d9;
      font-size: 18px;
      &:hover, &:focus, &:active {
        background: none;
        border: none;
        color: $color_vivid_blue;
        text-decoration: underline;
      }
    }
    &--names {
      color: #0069d9;
      text-decoration: underline;
    }
    &--back {
      color: $color_blue;
      font-size: 18px;
      text-decoration: underline;
      &:before {
        background: url("/static/img/icons/chevron-down.png") no-repeat 0 0/20px;
        content: " ";
        display: inline-block;
        margin: 1em 1.5em;
        transform: rotate(90deg);
        padding: 10px;
        vertical-align: middle;
        @media screen and (min-width: 62.000em) {
          margin: 1em 4em 1em 1em;
        }
      }
    }
  }
}
