form {
  position: relative;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  @media screen and (min-width: 62.000em) {
    width: 50%;
  }
}
fieldset {
  clear: both;
  border: none;
  margin: 10px;
  padding: 0;
  word-break: break-word;
  word-wrap: break-word;
}
label {
  color: #000;
  font-weight: bold;
  vertical-align: middle;
  word-break: break-word;
  word-wrap: break-word;
}
textarea {
  margin: 0 auto;
  padding: 1em;
  width: auto;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="week"],
input[type="date"],
input[type="month"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
select {
  background: #fff; //#E8F0FE
  border: 2px solid $color_light_gray_blue;
  border-radius: 3px;
  color: $color_gray;
  font-weight: lighter;
  padding: 15px 10px;
  margin: 5px 0;
  width: 100%;
}
select {
  background: #fff url("/static/img/icons/chevron-down.png") no-repeat 95% center/20px;

  outline: none;
  text-transform: capitalize;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

}
select[value="value"] {
  text-transform: capitalize;
}
input[type="search"] {
  width: 100%;
}
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  background-color: $color_blue;
  border: 1px solid $color_blue;
  border-radius: 5px;
  color: #fff;
  padding: 15px 1em;
  width: 100%;

  &:hover, &:active, &:focus {
    background-color: #0069d9;
    border: 1px solid #0062cc;
    transition: background-color 100ms ease-in-out;
  }
}
input[type="checkbox"],
input[type="radio"] {
  visibility: hidden;
  margin: 5px;
  & ~ label {
    background-color: transparent;
    position: relative;
    @media screen and (min-width: 62.000em) {
      cursor: pointer;
    }
    &:before {
      background-image: url('/static/img/icons/show_hide.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 100%;
      content: "";
      display: inline-block;
      width: 28px;
      height: 21px;
      vertical-align: middle;
      margin: 0 20px;
    }
    &:hover, &:focus, &:active {
      color: $color_vivid_blue;
    }
  }
  &:checked + label:before  {
    background-position: 0 -29.5px;
    content: "";
  }
}

*[disabled],
*[readonly] {
  background: transparent;
  opacity: 1
}

.form-group {
  margin: 10px 0 1em 0;
  &--inner {
    display: flex;
    justify-content: space-between;
  }
}
.reveal__password {
  display: flex;
  flex-direction: row-reverse;
  color: $color_blue;
  cursor: pointer;
  text-decoration: underline;
}
.form-label {
  padding: 0 10px;
  display: inline-block;
  @media screen and (min-width: 40.000em) {
    padding: 0 1em;
  }
  &--show {
    color: $color_blue;
    padding: 0;
    margin: 0;
  }
}
