.navbar-laravel {
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.my-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.login-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: $color_very_light_gray;
}

.field-icon {
  color: $color_blue;
  position:relative;
}
