.heading {
  &__title {
    color: $color_gray;
  }
  &__subtitle {
    font-size: 28px;
    font-weight: bold;
    padding: 1em;
    &--highlighted {
      color: $color_blue;
    }
    &--macro {
      color: $color_blue;
    }
  }
  &__description {

  }
}
