.login {
  text-align: center;
  position: relative;
  .form-group {
    margin: 10px 0 1em 0;
    &--inner {
      display: flex;
      justify-content: space-between;
    }
  }
  .reveal__password {
    display: flex;
    flex-direction: row-reverse;
    color: $color_blue;
    cursor: pointer;
    text-decoration: underline;
  }
  .form-label {
    padding: 0 10px;
    display: inline-block;
    @media screen and (min-width: 40.000em) {
      padding: 0 1em;
    }
    &--show {
      color: $color_blue;
      padding: 0;
      margin: 0;
    }
  }
  form {
    margin: 0 auto;
    text-align: left;
    @media screen and (min-width: 62.000em) {
      width: 50%;
    }
    input[type="checkbox"],
    input[type="radio"] {
      visibility: hidden;
      margin: 5px;
      & ~ label {
        background-color: transparent;
        position: relative;
        @media screen and (min-width: 62.000em) {
          cursor: pointer;
        }
        &:before {
          background-image: url('/static/img/icons/show_hide.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: 100%;
          content: " ";
          display: inline-block;
          width: 28px;
          height: 21px;
          vertical-align: middle;
          margin: 0 20px;
        }
        &:hover, &:focus, &:active {
          color: $color_vivid_blue;
        }
      }
      &:checked + label:before  {
        background-position: 0 -29.5px;
      }
    }
  }
}
