.patient-board {
  padding: 0 1.5em 1.5em;
  &--wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__personal {
    background: #fff;
    border-radius: 3px;
    @media screen and (min-width: 62.000em) {
      width: 50%;
      margin-right: 2em;
    }
  }
  &__surgery {
    background: #fff;
    border-radius: 3px;
    @media screen and (min-width: 62.000em) {
      width: 50%;
    }
  }
  &__delivery {
    background: #fff;
    border-radius: 3px;
    width: auto;
    margin: 2em 0;
    &-list {
      border-bottom: 2px solid $color_gray;
      .patient-list__item {
        padding: 7px 1.5em;
      }
      &:last-child {
        border: none;
      }
    }
  }
  &__no-results {
    background: #fff;
    border-radius: 3px;
    width: auto;
  }
  .heading__subtitle {
    padding: 1em 1.5em;
    text-align: left;
  }
}
