.patient-board {
  padding: 0 1.5em 1.5em;
  &--wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__personal {
    background: #fff;
    border-radius: 3px;
    @media screen and (min-width: 62.000em) {
      width: 50%;
      margin-right: 2em;
    }
  }
  &__surgery {
    background: #fff;
    border-radius: 3px;
    @media screen and (min-width: 62.000em) {
      width: 50%;
    }
  }
  &__delivery {
    background: #fff;
    border-radius: 3px;
    width: auto;
  }
  &__no-results {
    background: #fff;
    border-radius: 3px;
    width: auto;
  }
  .heading__subtitle {
    padding: 1em 1.5em;
    text-align: left;
  }
}
