.patient-board {
  padding: 0 1.5em;
  &--wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__personal {
    background: #fff;
    border: 1px solid $color_very_light_gray;
    padding: 1em;
    @media screen and (min-width: 62.000em) {
      width: 50%;
      margin-right: 2em;
    }
  }
  &__surgery {
    background: #fff;
    border: 1px solid $color_very_light_gray;
    padding: 1em;
    @media screen and (min-width: 62.000em) {
      width: 50%;
    }
  }
  &__delivery {
    padding: 1em;
  }
  &__no-results {
    padding: 1em;
  }
}
