.triage-board {
  position: relative;
  padding: 2em 0;
  @media screen and (min-width: 62.000em) {
    padding: 4em 0;
  }
  &__table {
    background: #fff;
    padding: 0 1.5em;
  }
  &__search {
    width: 100%;
    .form-group {
      display: inline-block;
      @media screen and (min-width: 62.000em) {
        width: 65%;
      }
    }
    input, select {
      display: inline-block;
      padding: 10px 20px;
      margin: 5px 5em 5px 0;
      &:last-child {
        margin: 5px 0;
      }
    }
    input {
      @media screen and (min-width: 62.000em) {
        width: 40%;
      }
    }
    select {
      position: relative;
      @media screen and (min-width: 62.000em) {
        height: 49px;
        width: 250px;
      }
    }
  }
}
