body{
    box-sizing: border-box;
}

.centre{
    margin-left: auto;
    margin-right: auto;
}

table{
    font-family: inherit;
}

.red-msg{
    color: red;
}

/* View Page */

/* Table Heading */

.table thead th {
    vertical-align: bottom;
    border-bottom: 0;
}

th{
    font-family: "Lato", sans-serif;
    background-color: white;
    border-top: 1px solid #f2f2f2;
    color: #848484;
}

/* Table Rows */
tr{
    border-top: none;
    font-family: inherit;
    background-color: white;
    color: #bcbaba;
}

.urgency{
    color: white;
}

.urgency-1{
    background-color: #ff1c00;
}

.urgency-2{
    background-color: #ff9001;
}

.urgency-3{
    background-color: #f8d001;
}

.urgency-4{
    background-color: #49c856;
}

.urgency-5{
    background-color: #04a0ff;
}

.urgency-0{
    background-color: #b4b4b4;
}

td{
    padding: 5px;
}

.row-completed{
    background-color: lightgray;
}

@media (max-width: 768px){
    .patients-table{
        font-size: 0.6rem;
    }

    .patients-table{
        font-size: 0.6rem
    }

    h1{
        font-size: 2rem;
    }

    h3{
        font-size: 1.4rem;
    }
}

/* Patient View Page */

#patient-detail-table tbody th{
    width: 30%;
}


/* Log in Page */

#login_container{
    padding-top: 30px;

    font-weight: bold;
}

#login_container label{
    font-weight: bold;
}


/* Footer Template */

.footer{
    padding-top: 30px;
    text-align: center;
    font-family: "Inconsolata", monospace;
    background-color: #f7f7f7;
    padding-bottom: 30px;
}