body{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: bold;
}

table{
    font-family: inherit;
}

/* Table Heading */

thead td{
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}


tr{
    border: 1px solid grey;
    border-top: none;
    font-family: inherit;
}

td{
    padding: 5px;
}

#no-patients{
    text-align: center;
}
