body{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    padding-top: 30px;
}

h1, h2, h3, h4{
    font-family: "Lato", sans-serif;
    text-align: center;
    font-weight: bold;
}


hr{
    color: grey;
}

.centre{
    margin-left: auto;
    margin-right: auto;
}

table{
    font-family: inherit;
}

.red-msg{
    color: red;
}

/* View Page */

/* Table Heading */

thead td{
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

/* Table Rows */
tr{
    border: 1px solid grey;
    border-top: none;
    font-family: inherit;
}

.heat-1{
    background-color: green;
}

.heat-2{
    background-color: greenyellow;
}

.heat-3{
    background-color: crimson;
}

.heat-4{
    background-color: purple;
}

td{
    padding: 5px;
}

#no-patients{
    text-align: center;
}


/* Log in Page */

#login_container{
    padding-top: 30px;

    font-weight: bold;
}

#login_container label{
    font-weight: bold;
}