.footer {
  background-color: #fff;
  text-align: center;
  font-family: $inconsolataFamily;
  padding: 15px 0;
  @media screen and (min-width: 62.000em) {
    padding: 30px 0;
  }
  &--inner {
    margin: 0 auto;
    @media screen and (min-width: 62.000em) {
      width: 50%;
    }
  }
}
