<div class="container-fluid">
    <h2>Enter a new Patient</h2>


    <div>
        <form method="POST">
            <div class="form-group">
                <label for="patient_name">Name</label>
                <input type="text" id="patient_name" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="patient_id">ID</label>
                <input type="text" id="patient_id" placeholder="99">
            </div>
            <div class="form-group">
                <label for="patient_age">Age</label>
                <input type="text" id="patient_age" placeholder="99">
            </div>
            <div class="form-group">
                <label for="patient_indication">Notes</label>
                <input type="text" id="patient_indication" placeholder="Needs One!">
            </div>
            <div class="form-group">
                <label for="patient_clinician">Clinician</label>
                <input type="text" id="patient_clinician" placeholder="Dr. Peter Drew">
            </div>
            <div class="form-group">
                <label for="patient_urgency">Urgency</label>
                <input type="number" id="patient_urgency" placeholder="4" aria-describedby="urgency-help">
                <small id = "urgency-help">Urgency rating from 1-4, 1 most urgent and 4 least urgent.</small> 
            </div>
        </form>
    </div>
</div>

