{% extends "cspatients/base.html" %}

<h1>Momkhulu C/S Patients List</h1>

{% block content %}
<div class = "container-fluid table-responsive">
    <div class = "col-md-11">
        {% if patients_list %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Patient ID</td>
                    <td>Name</td>
                    <td>Age</td>
                    <td>Location</td>
                    <td>Urgency</td>
                    <td>Indication</td>
                    <td>Time of Log</td>
                </tr>
            </thead>
            <tbody>
            {% for patient in patients_list %}
            <tr>
                <td>{{patient.patient_id}}</td>
                <td>{{patient.name}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.location}}</td>
                <td>{{patient.urgency}}</td>
                <td>{{patient.indication}}</td>
                <td>{{patient.time}}</td>
            </tr>                                
            {% endfor %}
            </tbody>
        </table>
        
        {% else %}
            <div id="no-patients" class = "container">
                <p> No Patients on the list now.</p>
            </div> 
        {% endif %}
    </div>
</div>

{% endblock %}