{% extends "cspatients/base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="centre col-sm-11 col-md-6">

        {% if context.patient %}

        <table class="table"> 
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{context.patient.name}}</td>
                </tr>
                <tr>
                    <td>Hospital ID:</td>
                    <td>{{context.patient.patient_id}}</td> 
                </tr>
                <tr>
                    <td>Urgency:</td>
                    <td>{{context.patient.urgency}}</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td>{{context.patient.age}}</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>{{context.patient.location}}</td>
                </tr>
                <tr>
                    <td>Indication</td>
                    <td>{{context.patient.indication}}</td>
                </tr>
                <tr>
                    <td>Gravidity:</td>
                    <td>{{context.patient.gravidity}}</td>
                </tr>
                <tr>
                    <td>Parity:</td>
                    <td>{{context.patient.parity}}</td>
                </tr>
                <tr>
                    <td>Comorbidities:</td>
                    <td>{{context.patient.comorbidity}}</td>
                </tr>
                <tr>
                    <td>Clinician:</td>
                    <td>{{context.patient.clinician}}</td>
                </tr>
                <tr>
                    <td>Time Logged:</td>
                    <td>{{context.patient.time}}</td>
                </tr>
                <tr>
                    <td>Date Logged:</td>
                    <td>{{context.patient.date}}</td>
                </tr>
            </tbody>
        </table>
        <div class="dtl-grp">
            <label for="patient_name">Name</label>
            
        </div>
        <div class="dtl-grp">

        </div>
        <div class="dtl-grp">

        </div>
        <div class="dtl-grp">

        </div>

        {% else %}
        {% endif %}
    </div>
</div>

{% endblock %}