{% extends "cspatients/base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="centre col-sm-11 col-md-8">

        {% if patiententry %}
        <div>
        <table id="patient-detail-table" class="table table-striped"> 
            <thead class="thead-dark">
                <tr>
                    <th colspan="2" style="text-align:center;">Patient Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Name:</th>
                    <td>{{ patiententry.patient_id.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Hospital ID:</th>
                    <td>{{ patiententry.patient_id.patient_id }}</td> 
                </tr>
                <tr>
                    <th scope="row">Urgency:</th>
                    <td>{{ patiententry.urgency }}</td>
                </tr>
                <tr>
                    <th scope="row">Age:</th>
                    <td>{{ patiententry.patient_id.age }}</td>
                </tr>
                <tr>
                    <th scope="row">Operation:</th>
                    <td>{{ patiententry.operation }}</td>
                </tr>
                <tr>
                    <th scope="row">Location:</th>
                    <td>{{ patiententry.location }}</td>
                </tr>
                <tr>
                    <th scope="row">Indication:</th>
                    <td>{{ patiententry.indication }}</td>
                </tr>
                <tr>
                    <th scope="row">GravPar:</th>
                    <td>{{ patiententry.gravpar }}</td>
                </tr>
                <tr>
                    <th scope="row">Comorbidities:</th>
                    <td>{{ patiententry.comorbid|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <th scope="row">Responsible Clinician:</th>
                    <td>{{ patiententry.clinician|default_if_none:"-"}}</td>
                </tr>
                <tr>
                    <th scope="row">Decision Time:</th>
                    <td>{{ patiententry.decision_time|time:"H:i" }}</td>
                </tr>
                <tr>
                    <th scope="row">Outstanding Info:</th>
                    <td>{{ patiententry.outstanding_data|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <th scope="row">Delivery Time:</th>
                    <td>{{ patiententry.delivery_time|time:"H:i" }}</td>
                </tr>
                <tr>
                    <th scope="row">APGAR 1:</th>
                    <td>{{ patiententry.apgar_1|default_if_none:"-" }}</td>
                </tr>
                <tr>
                    <th scope="row">APGAR 5:</th>
                    <td>{{ patiententry.apgar_5|default_if_none:"-" }}</td>
                </tr>               
            </tbody>
        </table>
        </div> 
        {% else %}
        <div>
            <p>Sorry. No such patient was found.</p>
        </div>
        {% endif %}
    </div>
</div>

<script>
    $( function(){

        function setTableClass(){
            var screenWidth = document.body.clientWidth;
            console.log(screenWidth)
            if (screenWidth < 576){
                $("#patient-details-table").addClass("table-sm");
            }else{
                $("#patient-details-table").removeClass("table-sm");
            };
        };

        setTableClass();
    });
</script>

{% endblock %}
