{% extends "cspatients/base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="centre col-sm-11 col-md-6">

        {% if patiententry %}
        <div>
        <table class="table"> 
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{ patiententry.patient_id.name }}</td>
                </tr>
                <tr>
                    <td>Hospital ID:</td>
                    <td>{{ patiententry.patient_id.patient_id }}</td> 
                </tr>
                <tr>
                    <td>Urgency:</td>
                    <td>{{ patiententry.urgency }}</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td>{{ patiententry.patient_id.age }}</td>
                </tr>
                <tr>
                    <td>Operation:</td>
                    <td>{{ patiententry.operation }}</td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td>{{ patiententry.location }}</td>
                </tr>
                <tr>
                    <td>Indication:</td>
                    <td>{{ patiententry.indication }}</td>
                </tr>
                <tr>
                    <td>GravPar:</td>
                    <td>{{ patiententry.gravpar }}</td>
                </tr>
                <tr>
                    <td>Comorbidities:</td>
                    <td>{{ patiententry.comorbid }}</td>
                </tr>
                <tr>
                    <td>Responsible Clinician:</td>
                    <td>{{ patiententry.clinician }}</td>
                </tr>
                <tr>
                    <td>Decision Time:</td>
                    <td>{{ patiententry.decision_time }}</td>
                </tr>
                <tr>
                    <td>Outstanding Information:</td>
                    <td>{{ patiententry.outstanding_data }}</td>
                </tr>
                <tr>
                    <td>Delivery Time:</td>
                    <td>{{ patiententry.delivery_time }}</td>
                </tr>
                <tr>
                    <td>APGAR 1:</td>
                    <td>{{ patiententry.apgar_1 }}</td>
                </tr>
                <tr>
                    <td>APGAR 5:</td>
                    <td>{{ patiententry.apgar_5 }}</td>
                </tr>               
            </tbody>
        </table>
        </div> 
        {% else %}
        <div>
            <p>Sorry. No patient such patient was found.</p>
        </div>
        {% endif %}
    </div>
</div>

<style>
    
</style>

{% endblock %}