<form  action="" method="get" class="triage-board__search" novalidate>
  <fieldset class="form-group">
    <label>Search:</label>
    <input name="search" value="{{ search }}" type="text" placeholder="Search Surname">
    <label>Filter:</label>
    <select name="status">
      <option value="0">View All Urgencies</option>
      <option value="1">Immediate</option>
      <option value="2">Hot</option>
      <option value="3">Warm</option>
      <option value="4">Cold</option>
      <option value="5">Elective</option>
      <option value="complete">Complete</option>
    </select>
  </fieldset>
  <button type="submit" class="call-to-action__nav call-to-action__nav--text">Submit</button>
  <a href="{% url 'cspatient_view' %}" class="call-to-action__nav call-to-action__nav--text">Reset</a>
</form>

<div class="table-responsive">
  <table id="decision-table" class="table table-hover patients-table">
    <thead>
      <tr>
        <th scope="col">Surname</th>
        <th scope="col">Operation</th>
        <th scope="col">Location</th>
        <th scope="col">Indication</th>
        <th scope="col">Decision Time</th>
        <th scope="col">Clinician</th>
      </tr>
    </thead>
    <tbody>
      {% for patiententry in patient_entries %}
        <tr class="info-row">
          <td>
            {% if patiententry.completion_time %}
              <span class="urgency urgency__small urgency-0">&nbsp;</span>
            {% else %}
              <span class="urgency urgency__small urgency-{{ patiententry.urgency }}">&nbsp;</span>
            {% endif %}
            <a href="{% url 'cspatient_patient' patiententry.id %}" class="call-to-action__nav call-to-action__nav--names">
              {{ patiententry.surname | default_if_none:"-" }}
            </a>
          </td>
          <td>{{ patiententry.operation | default_if_none:"-" }}</td>
          <td>{{ patiententry.location | default_if_none:"-" }}</td>
          <td>{{ patiententry.indication | default_if_none:"-" }}</td>
          <td>{{ patiententry.decision_time | time:"H:i"|default_if_none:"--:--" }}</td>
          <td>{{ patiententry.clinician | default_if_none:"-" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% block extra_js %}
  <script type="text/javascript">
    $('.status-select').val('{{ status }}');
  </script>
{% endblock %}
