<div class="table-responsive">
    <form method="get" action="">
        <input style="width: 240px" type="text" name="search" placeholder="Search Patient ID or Surname" style="float: left;">
        <a href="{% url 'cspatient_view' %}">Reset</a>
    </form>
    <table id="decision-table" class="table table-hover patients-table">
        <thead>
            <tr>
                <th scope="col">Surname</th>
                <th scope="col">Operation</th>
                <th scope="col">Location</th>
                <th scope="col">Indication</th>
                <th scope="col">Status</th>
                <th scope="col">Decision Time</th>
                <th scope="col">Clinician</th>
            </tr>
        </thead>
        <tbody>
            {% for patiententry in patient_entries %}
                <tr class="info-row">
                    <td><a href="{% url 'cspatient_patient' patiententry.patient.patient_id %}">{{ patiententry.patient.name | default_if_none:"-" }}</td></a></td>
                    <td>{{ patiententry.operation | default_if_none:"-" }}</td>
                    <td>{{ patiententry.location | default_if_none:"-" }}</td>
                    <td>{{ patiententry.indication | default_if_none:"-" }}</td>
                    {% if patiententry.completion_time %}
                        <td style="padding: 6px"><div class="urgency urgency-0" style="padding: 6px;text-align: center;">COMPLETE</div></td>
                    {% else %}
                        <td style="padding: 6px"><div class="urgency urgency-{{ patiententry.urgency }}" style="padding: 6px;text-align: center;">{{patiententry.get_urgency_display}}</div></td>
                    {% endif %}
                    <td>{{ patiententry.decision_time | time:"H:i"|default_if_none:"--:--" }}</td>
                    <td>{{ patiententry.clinician | default_if_none:"-" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<br>
