{% extends "cspatients/base.html" %}

{% block content %}

<div class="container-fluid">
    <h3>Patients List Waiting</h3>
    <div id="table-div">
        {% include "cspatients/table.html" %}
    </div>
</div>

<script>

    function sleep(){
        ;
    }

    $( function(){

        // Create the new websocket
        console.log("Connecting to the viewSocket")
        var viewSocket =  new WebSocket(
        "ws://" + window.location.host + "/ws/cspatients/viewsocket/");

        // Log if the socket has connected

        viewSocket.onopen = function (){
            console.log("Connected to the viewSocket")
        }
        // If the socket closes, the page will sleep for 20 seconds and then refresh
        viewSocket.onclose =  function(e){
            sleep();
            window.location.href = "http://" + window.location.host + "/cspatients/view";
        }

        viewSocket.onmessage = function(e){
            console.log("The table has been received.");
            console.log(e);
            $("#table-div").html(function(){
                return e.data;
                console.log("Rendering the new updated table.");
            });
        };
    
        function next(element){
            var patient_id = $(element).contents("td.patient-id").html();     
            window.location.href = window.location.href.slice(0,-4).concat("patient/") + patient_id;
        };    
    });
</script>

{% endblock %}
