{% extends "base.html" %}

{% block content %}
  <div class="triage-board">
    <h2 class="heading heading__hero">Momkhulu Triage Board</h2>
    <p class="heading__description">Mowbray Maternity Hospital</p>
    <div id="table-div" class="triage-board__table">
      {% include "cspatients/table.html" %}
    </div>
  </div>

  {% block extra_js %}
    <script type="text/javascript">
      function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      };

      $( function(){
        // WEB SOCKET FUNCTIONS
        console.log("Connecting to the viewSocket")
        var viewSocket =  new WebSocket(
          "wss://" + window.location.host + "/ws/cspatients/viewsocket/");

        viewSocket.onopen = function (){
          console.log("Connected to the viewSocket")
        }
        // If the socket closes, the page will sleep for 30 seconds and then refresh
        viewSocket.onclose =  async function(e){
          await sleep(30000);
          window.location.reload(true);
        };

        viewSocket.onmessage = function(e){
          console.log("The table has been received.");
          console.log(e);
          $("#table-div").html(function(){
            return e.data;
            console.log("Rendering the new updated table.");
          });
        };
      });
    </script>
  {% endblock %}
{% endblock %}
