{% extends "cspatients/base.html" %}

{% block content %}

<div class="container-fluid">
    <h3>Patients Waiting List</h3>
    <div id="table-div">
        {% include "cspatients/table.html" %}
    </div>
</div>

<script>

    function goToPatient(){
        var patient_id = $(this).contents("td.patient-id").html();
        window.location.href = window.location.protocol + "//" +
        window.location.host + "/cspatients/patient/" + patient_id;
    };

    function sleep(){
        ;
    }

    $( function(){

        // RESPONSIVE DESIGN

        function setTableClass(){
            var screenWidth = document.body.clientWidth;
            console.log(screenWidth)
            if (screenWidth < 576){
                $("#delivered-table").addClass("table-sm");
                $("#decision-table").addClass("table-sm");
            }else{
                $("#delivered-table").removeClass("table-sm");
                $("#decision-table").removeClass("table-sm");
            };
        };

        setTableClass();
        
        // WEB SOCKET FUNCTIONS 

        console.log("Connecting to the viewSocket")
        var viewSocket =  new WebSocket(
        "ws://" + window.location.host + "/ws/cspatients/viewsocket/");

        viewSocket.onopen = function (){
            console.log("Connected to the viewSocket")
        }
        // If the socket closes, the page will sleep for 20 seconds and then refresh
        viewSocket.onclose =  function(e){
            sleep();
            window.location.href = "http://" + window.location.host + "/cspatients/view";
        }

        viewSocket.onmessage = function(e){
            console.log("The table has been received.");
            console.log(e);
            $("#table-div").html(function(){
                return e.data;
                console.log("Rendering the new updated table.");
            });
        };
        
        $(".info-row").click(goToPatient);
    });
</script>

{% endblock %}
